{% extends 'base.html' %}
{% block title %}Опросник{% endblock %}
{% block header %}
Заполните форму:
<br/>
<br/>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="age">Age</label>
    <select name="age" id="age" required>
    {% for i in range(1,120) %}
        <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
    </select>
    <br/>
    <br/>
    <label for="earnings">Monthly earnings</label>
    <input name="earnings" id="earnings" required>
    <br/>
    <br/>
    <label for="employment">Current employment status</label>
    <select name="employment" id="employment" required>
        <option value="unemployed">Unemployed</option>
	<option value="study">Studying</option>
	<option value="blue">Blue colar work</option>
	<option value="white">White colar work</option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Submit form and begin test">
  </form>
{% endblock %}
