{% extends 'base.html' %}
{% block title %}Опросник{% endblock %}
{% block header %}
Заполните форму:
<br/>
<br/>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="epi">Я покупаю в Эпицентре</label>
    <select name="epi" id="epi" required>
	<option value="0">Никогда</option>
	<option value="1">Раз в несколько лет</option>
	<option value="2">Раз в год</option>
	<option value="3">2-3 раза в год</option>
	<option value="4">Каждый месяц</option>
    </select>
    <br/>
    <br/>
    <label for="comfy">Я покупаю в Comfy</label>
    <select name="comfy" id="comfy" required>
        <option value="0">Никогда</option>
        <option value="1">Раз в несколько лет</option>
        <option value="2">Раз в год</option>
        <option value="3">2-3 раза в год</option>
        <option value="4">Каждый месяц</option>
    </select>
    <br/>
    <br/>
    <label for="rozetka">Я покупаю в Rozetka</label>
    <select name="rozetka" id="rozetka" required>
        <option value="0">Никогда</option>
        <option value="1">Раз в несколько лет</option>
        <option value="2">Раз в год</option>
        <option value="3">2-3 раза в год</option>
        <option value="4">Каждый месяц</option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Отправить данные и начать тестирование">
  </form>
{% endblock %}
